<html>
    <head>
	<title>Concesionaris</title>
	<link href="{{ MEDIA_URL }}images/base.css" rel="stylesheet" type="text/css" media="screen" />
      	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
      	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    </head>
	<body id="body" onload="">
		<div id="DIV_header">
			<div id="DIV_header_int">
				<div id="DIV_client">
                			<img src="{{ MEDIA_URL }}images/logo_generic.png" typeof="MediaObject" property="thumbnail">
                		</div>
	                <div id="DIV_logo">
	                    <img src="{{ MEDIA_URL }}images/logo.png" typeof="MediaObject" property="thumbnail">
	                </div>
		</div>
			<div id="DIV_header_footer"  typeof="CreativeWork">
				<p id='p_tittle' class='p_tittle' property="commentText">Benvingut </p>
				<p class='p_tittle' property="commentText">Aqui podra gestionar els seus cotxes!</p>
			</div>
        </div> 
        <div id="DIV_body" vocab="http://schema.org/" typeof="LocalBusiness">
			<div id ="DIV_body_left">
				<!--<p id='p_tittle'>{{ pagetitle }}</p>-->

				
				<ul class='ul_menu' typeof="ItemList">
					<li><a class="aes" href="/clients" property="itemListElement">Clients </a></li>
					<li><a class="aes" href="/cardealers" property="itemListElement">Concessionaris </a></li>
					<li><a class="aes" href="/brands" property="itemListElement">Marques </a></li>
					<li><a class="aes" href="/orders" property="itemListElement">Ordres </a></li>
					<li><a class="aes" href="/review" property="itemListElement">Reviews </a></li>
				</ul>
				<button class="logout" onclick="window.location.href='/logout/'">Sortir</button>
			</div>
			<div id='DIV_body_right'>
