{% include "base.html" %}
<html>
  <head>
    <title>Llista de marques</title>
  </head>
  <body id="body">
    <p id="p_tittle">Llista de marques</p>
    {% if object_list %}
      <ul>
        {% for marca in object_list %}
        <li>
        <a class="aes" href="{{ marca.id }}">{{ marca.name}} </a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No hi han marques.</p>
    {% endif %}
    <button class="button" onclick="window.location.href='create'">Afegir Marca</button>
  </body>
</html>
{% include "footer.html" %}
