<html>
  <head>
    <title>Informacio marca</title>
	<style type="text/css">
		#body {
		background-color: #DDDDDD;
		font-family: Arial;
		font-size: 12pt;
		margin: 0 auto;
		width: 100%;
		padding: 20px;	
		}
  		#p_tittle {
	    	color: black;
		font-size: 30px;
		}
	  </style>
  </head>
  <body id="body">
    <p id="p_tittle">Informacio marca</p>
    {% if brand %}
      <p>
        * {{ brand.name}} 
      </p>
    {% else %}
      <p>No existeix aquesta marca.</p>
    {% endif %}
  </body>
</html>
