{% include "base.html" %}
    <span typeof="Brand">
        <p id="p_tittle" property="alternateName">Informacio marca</p>
        {% if object %}
          <p property="name">
            * {{ object.name}} 
          </p>
        {% else %}
          <p property="description">No existeix aquesta marca.</p>
        {% endif %}
        <button class="button" onclick="window.location.href='delete'">Eliminar Marca</button>
        <button class="button" onclick="window.location.href='edit'">Editar Marca</button>
    </span>
{% include "footer.html" %}
