{% include "base.html" %}
    <p id="p_tittle" typeof="Brand" property="alternateName">Llista de marques</p>
    {% if object_list %}
      <ul typeof="ItemList">
        {% for marca in object_list %}
        <li property="itemListElement">
        <a class="aes" href="{{ marca.id }}">{{ marca.name}} </a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p typeof="Brand" property="alternateName">No hi han marques.</p>
    {% endif %}
    <button class="button" onclick="window.location.href='create'">Afegir Marca</button>
{% include "footer.html" %}
