{% include "base.html" %}
<html>
	<head>
		<title>{{ carDealer }}</title>
	</head>
	<body id="body">
		<p id="p_tittle" typeof="CreativeWork" property="commentText">Cotxes comprats en {{ carDealer }}</p>
		{% if object_list %}
		<ul typeof="ItemList">
		{% for order in object_list %}
		<li property="itemListElement">
		{{ order.id }} - {{ order.model.name}} - {{ order.model.marca }} - {{ order.user.username }} - {{ order.model.preu }}€
		</li>
		{% endfor %}
		</ul>
		{% else %}
		<p typeof="CreativeWork" property="commentText">No ha comprat cotxes.</p>
		{% endif %}
	</body>
</html>
{% include "footer.html" %}
