<html>
  <head>
    <title>Informacio concessionari</title>
    <style type="text/css">
		#body {
		background-color: #DDDDDD;
		font-family: Arial;
		font-size: 12pt;
		margin: 0 auto;
		width: 100%;
		padding: 20px;	
		}
  		#p_tittle {
	    	color: black;
		font-size: 30px;
		}
	  </style>
  </head>
  <body id="body">
    <p id="p_tittle">Informacio concessionari</p>
    {% if concessionari %}
  	<p>Nom del concessionari: {{ concessionari.name}} </p>
	<p>Telefon: {{ concessionari.tel }}</p>
	<p>Adreça: {{ concessionari.address }}</p>
    {% else %}
      <p>No existeix aquest concessionari.</p>
    {% endif %}
  </body>
</html>
