{% include "base.html" %}
<html>
	<head>
		<title typeof="CreativeWork" property="headline">{{ object_list.id }} Ordres</title>
	</head>
	<body id="body">
		<p id="p_tittle" typeof="CreativeWork" property="headline">Cotxes comprats per {{ self.id }}</p>
		{% if object_list %}
		<ul typeof="ItemList">
		{% for order in object_list %}
		<li property="itemListElement">
		{{ order.id }} - {{ order.model.name}} - {{ order.model.marca }} - {{ order.concessionari.name }} - {{ order.model.preu }}€
		</li>
		{% endfor %}
		</ul>
		{% else %}
		<p typeof="Thing" property="alternateName">No ha comprat cotxes.</p>
		{% endif %}
	</body>
</html>
{% include "footer.html" %}
