{% include "base.html" %}
<html>
  <head>
    <title>Informacio usuari</title>
  </head>
  <body id="body">
    <p id="p_tittle">Informacio usuari</p>
    {% if object %}
      <p>
        {{ object.username}} - {{ object.email }} - {{ object.first_name }}  {{ object.last_name }}
      </p>
    {% else %}
      <p>No existeix aquest usuari.</p>
    {% endif %}
    <button class="button" onclick="window.location.href='delete'">Eliminar client</button>
    <button class="button" onclick="window.location.href='edit'">Editar client</button>
  </body>
</html>
{% include "footer.html" %}
