{% include "base.html" %}
<html>
	<head>
		<title>{{ object_list.id }} Ordres</title>
	</head>
	<body id="body">
		<p id="p_tittle">Cotxes comprats per {{ self.id }}</p>
		{% if object_list %}
		<ul>
		{% for order in object_list %}
		<li>
		{{ order.id }} - {{ order.model.name}} - {{ order.model.marca }} - {{ order.concessionari.name }} - {{ order.model.preu }}€
		</li>
		{% endfor %}
		</ul>
		{% else %}
		<p>No ha comprat cotxes.</p>
		{% endif %}
	</body>
</html>
{% include "footer.html" %}
