{% include "base.html" %}
<html>
  <head>
    <title>Informacio compra</title>
  </head>
  <body id="body">
    <p id="p_tittle">Informacio compra</p>
    {% if object %}
  	<p>Marca: {{ object.marca.name}} </p>
	<p>Concessionari: {{ object.concessionari.name }}</p>
	<p>Client: {{ object.user.username }}</p>
    {% else %}
      <p>No existeix aquesta Compra.</p>
    {% endif %}
    <button class="button" onclick="window.location.href='delete'">Eliminar ordre</button>
    <button class="button" onclick="window.location.href='edit'">Editar ordre</button>
  </body>
</html>
{% include "footer.html" %}
