{% include "base.html" %}
      <p id="p_tittle" property="name">Reviews</p>
      {% if object_list %}
        <ul typeof="ItemList">
          {% for review in object_list %}
          <a class="aes" href="{{ review.pk }}" property="itemListElement">{{ review.pk }}</a><br>
          {% endfor %}
        </ul>
      {% else %}
        <p>No hi han Reviews.</p>
      {% endif %}
    <button class="button" onclick="window.location.href='create'">Afegir Review</button>
{% include "footer.html" %}

